{% extends 'menu.html' %}

{% block body %}

<div class="home_container">
	<div class="home_video_container">
		<video class="home_video" src="../static/videos/Debbie_home1.mp4" loop muted autoplay></video>
	</div>
	<div class="home_header">
		<h1>student &#128211, designer &#127912, maker &#128736</h1>
	</div>
	<!-- <p>I am a UC Berkeley graduate (Class of 2020) &#128211, designer &#127912, maker &#128736</p> -->
	<br>
	<p>Around age 3, I started painting and drawing. My art gave me a voice to express my emotions and tell stories
		involving my friends and family. I now tell stories through not only my paintings but also through the things I
		build. </p>
	<br>
	<p>I am passionate about addressing world challenges and creating a positive impact by creating innovations that
		allow people to reach their fullest potential. I am particularly interested in creating aesthetically pleasing
		artwork and human-centered innovations related to disability and mental health. </p>
</div>

<!-- <div id="flowers" class="blue_pink">
	    <div class = "flower_container">
	        <img class= "flower" src="{{ url_for('static', filename='images/flowers.svg') }}">
	    </div>
  	</div> -->


{% endblock %}