
{% extends 'menu.html' %}

{% block body %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static',filename='styles/projects.css') }}">

</head>


<div class="top_portfolio_container"> 
<div class="portfolio_paragraph">
  <p class="portfolio_paragraph_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam accumsan urna a lectus dignissim, nec venenatis ante mollis. Vestibulum nec condimentum sem. Duis eget ullamcorper orci. Maecenas sagittis nisi eu dui dapibus, a porta ipsum viverra. Nam non metus pellentesque, vestibulum eros nec, luctus erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam fringilla imperdiet libero, nec porta lectus tempor nec. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus commodo, dui nec ultrices imperdiet, neque mauris consequat enim, vulputate porttitor ante lacus sit amet velit. Suspendisse ac risus vel nisl facilisis consectetur.
  </p>
</div>

<div id="Portfolio" class="portfolio">
  
  {%for i in range(0, proj_len)%} 

    <!-- portfolio item-->
    <div class="portfolio-item {{debbie_projects[i].category}}" onclick="window.location='portfolio/{{debbie_projects[i].name}}'">
    <div class="portfolio-image">
      <img src="{{debbie_projects[i].img_src}}" alt="image" />
      <a href="#">
      <div class="project-overlay">
        <div class="project-info">
          <h5>{{debbie_projects[i].overlay_desc}}</h5>
          <!-- <i class="fa fa-search"></i> -->
          <!-- <h3 class="project-name">{{debbie_projects[i].name}}</h3> -->
          
        </div>
      </div>
    </a>
    </div>
    <h4 class="project-name">{{debbie_projects[i].name}}</h4> 
  </div>

  {%endfor%} 
</div>
  <!-- /portfolio item-->
  
</div>

<!-- END GRID -->
</div>


{% endblock %}
