<!DOCTYPE html>
<html lang="en">	<html lang="en">


<title> {{project.name}} </title>	    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"> </script>


<h1> {{project.name}} </h1>	


<h3> {{project.desc}}</h3>	


 <link rel="stylesheet" href="{{ url_for('static',filename='styles/project_template.css') }}">

<title> {{project.name}} </title>


<img src=".{{project.img_src}}" alt="image"/>	


<iframe width="420" height="345" src="{{project.youtube}}">	<div class="project_name_container"> 
</iframe>	<h1 class="project_name" > {{project.name}} </h1>
</div>

<div class="project_img_container">
    <video class="project_img" width="420" height="345" src="../static/videos/1.mp4" loop autoplay></video>
    <!-- <img class="project_img" src=".{{project.img_src}}" alt="image"/> -->
    <p> By Debbie Yuen</p>
</div>

<h3> {{project.desc}}</h3>