
{% extends 'menu.html' %}

{% block body %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static',filename='styles/projects.css') }}">

</head>



<div id="Portfolio" class="portfolio">
  
  {%for i in range(0, proj_len)%} 

    <!-- portfolio item-->
    <div class="portfolio-item {{debbie_projects[i].category}}" onclick="window.location='portfolio/{{debbie_projects[i].name}}'">
    <div class="portfolio-image">
      <img src="{{debbie_projects[i].img_src}}" alt="image" />
      <a href="#">
      <div class="project-overlay">
        <div class="project-info">
          <h5>{{debbie_projects[i].overlay_desc}}</h5>
          <!-- <i class="fa fa-search"></i> -->
          <!-- <h3 class="project-name">{{debbie_projects[i].name}}</h3> -->
          
        </div>
      </div>
    </a>
    </div>
    <h4 class="project-name">{{debbie_projects[i].name}}</h4> 
  </div>

  {%endfor%} 

  <!-- /portfolio item-->
  
</div>

<!-- END GRID -->
</div>


{% endblock %}
