{% extends 'menu.html' %}

{% block body %}

    <body>
        <h1>Independent Research Project & Senior Thesis:</h1>
        <p>My research is on investigating the needs of individuals with developmental disabilities and their support team. I conducted secondary research and interviews with nonprofits, educators, caretakers, and parents where I discovered communication problems that need to be addressed. Writing my senior thesis paper, I was inspired to build a potential solution. This led to the creation of “Euphemia”, a mobile application. As for my senior thesis paper, I am working on having it potentially published in the Berkeley Undergraduate Journal. </p>
        <h1>Berkeley Innovation Index (BII):</h1>
        <p>I worked on improving the user experience for BII, a research concept to measure an individual’s innovative mindset level. I surveyed questions, analyzed questionnaires, improved the visual appeal, and reviewed post-survey content to maximize the response rate. This produced the necessary data to measure innovation using machine learning algorithms. 
        </p>
        <h1>The Knot Project:</h1>
        <p>I investigated sweep-morph constructions in various 3D CAD programs to design mathematical knots. I mostly worked in Autodesk Fusion 360, but also have experience with Rhino, Solidworks, and Blender. My feedback helped shape the design of Non-Orientable Manifold Editor (NOME), an emerging computer-aided geometric design tool that supports mesh operations to design complex and precise free-form sculptures.</p>
        <h1>The Hybrid Ecologies Lab:</h1>
        <p>I conducted human-computer interaction (HCI) research with my former professor and graduate student instructor (GSI) following the course, NWMEDIA C203 (Critical Making). The team consisted of two Ph.D. students and two other undergraduate students. Our project involved developing a tool that simplified the documentation process for creative practitioners. After conducting interviews, transcribing interview recordings, researching secondary sources, I collaborated with my team to ideate a potential documentation tool effective for workshop environments. 
</p>
    </body>

 {% endblock %}