{% extends 'menu.html' %}

{% block body %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.typekit.net/gnm8veh.css">
<link rel="stylesheet" href="https://use.typekit.net/gnm8veh.css">
<link rel="stylesheet" href="{{ url_for('static',filename='styles/research.css') }}">

<div class="top_research_container">
    <h1>Independent Research Project & Senior Thesis:</h1>
        <p>My research is on investigating the needs of individuals with developmental disabilities and their support team. I conducted secondary research and interviews with nonprofits, educators, caretakers, and parents where I discovered communication problems that need to be addressed. Writing my senior thesis paper, I was inspired to build a potential solution. This led to the creation of “Euphemia”, a mobile application. As for my senior thesis paper, I am working on having it potentially published in the Berkeley Undergraduate Journal. </p>
    <h1>Berkeley Innovation Index (BII):</h1>
        <p>I worked on improving the user experience for BII, a research concept to measure an individual’s innovative mindset level. I surveyed questions, analyzed questionnaires, improved the visual appeal, and reviewed post-survey content to maximize the response rate. This produced the necessary data to measure innovation using machine learning algorithms. 
        </p>
    <h1>The Knot Project:</h1>
        <p>I investigated sweep-morph constructions in various 3D CAD programs to design mathematical knots. I mostly worked in Autodesk Fusion 360, but also have experience with Rhino, Solidworks, and Blender. My feedback helped shape the design of Non-Orientable Manifold Editor (NOME), an emerging computer-aided geometric design tool that supports mesh operations to design complex and precise free-form sculptures.</p>
    <h1>The Hybrid Ecologies Lab:</h1>
        <p>I conducted human-computer interaction (HCI) research with my former professor and graduate student instructor (GSI) following the course, NWMEDIA C203 (Critical Making). The team consisted of two Ph.D. students and two other undergraduate students. Our project involved developing a tool that simplified the documentation process for creative practitioners. After conducting interviews, transcribing interview recordings, researching secondary sources, I collaborated with my team to ideate a potential documentation tool effective for workshop environments. 
        </p>
    <h1>The City of Irvine:</h1>
        <p>During high school, I started a mental health club to raise awareness for youth mental health. I led the club in hosting an event that turned into a countywide event due to the City of Irvine’s willingness to partner. I now hold a long-time partnership with the City of Irvine for the event and was offered to conduct research with the mayor of Irvine. I helped him collect statistical data through secondary research and interviews on Irvine’s early childhood education system. I partnered with Irvine’s Childhood Learning Center and the Irvine Unified School District (IUSD) to give every child under age 5 the opportunity to attend preschool and decrease the percentage of “at-risk” kids in Irvine. After presenting my research at a city council meeting, I worked on investigating how the City of Irvine can educate the community about the importance of early childhood education and how they can improve their current daycare programs. </p>
</div> 

    
        


 {% endblock %}