.project_name_container{
  position: relative; 
  height: 100%; 
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
}

.project_name_container > .project_name {
  text-align: center;
  font-size: 9rem; 
}

.project_video_container{
  margin-top: -31.5rem;
  position: relative;
  z-index: -1;
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;

}

.project_video_container > .project_video{
  height: 100%;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.project_video_container > p{
  /*height: 100%;*/
  width: 100%;
}