.portfolio-filters {
  text-align: left;
  /* margin: 0rem 0 1rem; */
  /* padding-left: 2.5rem;  */
  padding-top: 1rem;
  display: table-cell; 
}

.portfolio {
  margin: 0%; 
  width: 85%;
  overflow-y: auto !important;
  height: inherit !important;
  text-decoration: none;
  /* position: reilative; */
}

.portfolio-item {
  float: left;
  width: 33%;
  position: relative;
  padding: 0px; 
  padding-right: 2rem;
  padding-left: 2rem;
}
.portfolio-item .portfolio-image {
  overflow: hidden;
  display: block;
  position: relative;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.portfolio-item .portfolio-image > img {
  width: 100%;
  height: auto;
  display: block;
}
.portfolio-item > a {
  display: block;
}
.portfolio-item .portfolio-image > a .project-overlay {
  overflow: hidden;
  /*display:flex ;*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.8);
  color: #fff;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.portfolio-item .portfolio-image > a .project-overlay .project-info {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: 0px;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}
.portfolio-item .portfolio-image > a .project-overlay .project-info i.fa {
  margin-bottom: 0.25rem;
  background-color: #fff;
  font-size: 2vw;
  line-height: 2rem;
  width: 75%;
  height: 100%;
  color: #000;
  border-radius: 32rem;
}
.portfolio-item .portfolio-image > a .project-overlay .project-info .project-name {
  /* font-size: 15vw; */
  font-size: 10pt;
  color: #999;
  text-transform: uppercase;
  padding-top: 2rem;
}
.portfolio-item .portfolio-image > a .project-overlay .project-info h5 {
  color: white;
  font-size: 2vw;
  font-family: Helvetica;
}
.portfolio-item .portfolio-image > a:hover .project-overlay {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.portfolio-item .portfolio-image > a:hover .project-overlay .project-info {
  margin-top: 6rem;
  opacity: 1;
}


* {
  box-sizing: border-box;
}

body {
  /*padding: 20px;*/
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

h6 {
  font-family: Helvetica;
  font-size: 2vw;
  padding: 0;
  margin: 0;
  align-items: center;
  text-decoration: none;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 2px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  text-decoration: solid;

  

  color: white;
}

