
  
  .top_research_container{
    overflow-y: auto !important;
    height: inherit !important;
    padding-left: 2rem;  
    padding-right: 2rem; 
    width: 85%;
    padding-bottom: 1.85rem;
    /* font-family: Montserrat, Helvetica; */
    /* font-family: acumin-pro,sans-serif;
    font-weight: 600;
    font-style: normal; */
    font-family: Montserrat, Helvetica;
    font-weight: 500;
    font-style: normal;
  }
  h1{
      font-family: Helvetica;
      font-size: 30px;
      font-style: bold;
      font-weight: 550;
      text-align: left;
      /* colors in RGB */ 
      color: #000000; 
      letter-spacing: 2pt;
      text-transform: none;
  }

  p{
    font-size: 1.5vw;
    margin: 0; 
    font-weight: 0;
  }